/* Large */
@media (min-width: 992px) and (max-width: 1200px) {
  body {
    background-color: lightblue;
  }
}

/* Extra Large */
@media (min-width: 1201px) and (max-width: 1400px) {
  body {
    background-color: lightcoral;
  }
}

/* XX-Large */
@media (min-width: 1401px) {
  body {
    background-color: lightgreen;
  }
}

/* x-small, small, medium */
@media (max-width: 991px) {
  body {
    background-color: lightgoldenrodyellow;
  }
}
